name: Jest

on:
  push:
    branches:
      - develop
  pull_request:
    branches:
      - develop

jobs:
  jest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-node@master
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'yarn'
      - name: Install dependencies
        run: yarn
      - name: Jest run
        run: yarn test
